@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#app {
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
                        "main1 main2 main3"
                        "content1 content2 content3"
                        "footer1 footer2 footer3";
}

.login {
    position: relative;
    grid-area: content2;
    text-align: center; 
}

.register {
    grid-area: main3;
    text-align: right;
}

input {
    width: 210px;
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 1em;
}

#errorMessage {
    color: red;
    position: relative;
    top: -30px;
}

.buttons {
    position: relative;
    top: -30px;
}
